@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Como deseja acessar?</h1>
    <a asp-area="" asp-controller="Acesso" asp-action="Administrador">Administrador</a>
</div>
